* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  margin-top: 3%;
  margin-left: 3%;
  background-size: cover;
}
.nav-info {
  border-color: brown;
  background-color: brown;
  color: rgb(243, 239, 239);
  width: 10vw;
  height: 3rem;
  padding-left: 1rem;
  border-radius: 10px;
  padding-top: 5px;
}
#cart-btn {
  position: fixed;
  margin-top: 5px;
}
.store-icon {
  background-color: rgb(190, 187, 187);
}
.chages {
  display: inline;
}
h1 {
  font-size: 70px;
  text-align: end;
  color: darkolivegreen;
  text-shadow: lightgrey;
  margin-top: 0;
}
.row {
  display: inline;
}

/* -------------------------Men/women/kids.html------ */

h3 {
  text-align: center;
  text-shadow: 1px 1px 2px rgb(218, 41, 28);
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: brown;
  margin: 4px;
}
input {
  transform: translate(100px);
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}
.col-4 img {
  width: 250px;
  height: 300px;
}
.men {
  text-align: center;
  margin: 0 auto 40px;
  position: relative;
  line-height: 20px;
  color: #555;
  transition: 2s;
}
.title {
  text-align: right;
  margin: 0 auto 80px;
  position: relative;
  line-height: 30px;
  color: rgb(90, 23, 23);
}
.men:hover {
  transform: translate(-2px -2px);
}
h4 {
  color: rgb(68, 67, 67);
  font-weight: 700px;
}

/* -------contact.html-------------- */
#thanku1 {
  text-align: center;
  font-size: 3rem;
  color: rgb(145, 145, 107);
  text-shadow: 2px 2px 1px black;
  transform: translate(3rem, 4rem);
}
.thanku {
  height: 100%;
  width: 100%;
  background-size: cover;
}
